################################################################################
#
# Environment Variable Definitions
# --------------------------------
#
# These variables can be used to "inject" private & sensitive (data) values
# safely into your application.
#

################################################################################
#
# MNEMONIC
#
# A personal mnemonic seed phrase (using BIP-32 specification).
#
# The most common format for storing private keys.
#
# Sample values for Mainnet, Testnet and Regtest respectively:
#   - nexa:nqtsq5g5sjkqk7wzd9wwh9423rr0tda7m027ryljkfy84cjz
#   - nexatest:nqtsq5g5sjkqk7wzd9wwh9423rr0tda7m027ryljXXXXXXXX
#   - nexareg:nqtsq5g5sjkqk7wzd9wwh9423rr0tda7m027ryljXXXXXXXX
#
MNEMONIC="bacon mind chronic bean luxury endless ostrich festival bicycle dragon worth balcony"


################################################################################
#
# PRIVATE_KEY
#
# A personal private Kkey (as 32-byte Hex-formatted binary).
#
# Sample values for Mainnet, Testnet and Regtest respectively:
#   - nexa:nqtsq5g5sjkqk7wzd9wwh9423rr0tda7m027ryljkfy84cjz
#   - nexatest:nqtsq5g5sjkqk7wzd9wwh9423rr0tda7m027ryljXXXXXXXX
#   - nexareg:nqtsq5g5sjkqk7wzd9wwh9423rr0tda7m027ryljXXXXXXXX
#
PRIVATE_KEY=baa017c1c3458fc80c31c7b5a2ce833a3af44d3c172bff3981103d272f9a5a3c


################################################################################
#
# <USER>_WIF
#
# A list of Community private keys (in Wallet Import Format) to use for
# intra-wallet testing.
#
# MINING  - An account used exclusively to collect & distribute block rewards
#           to the other accounts.
# ALICE   - Primary (sending) account.
# BOB     - Secondary (receiving) account.
# CHARLIE - Tertiary (auxiliary) account.
#
MINING_WIF=cRwQvkHyrhc1NW2HaQMbCu9qTr3d4eN4HNaQQyygDU1VrPw386nf     # nexareg:nqtsq5g5chzjr3s3hlgmxtp0h53zz2emh4dapvy7wucdlg5r
ALICE_WIF=cU1r7j3JxCdynXF3vrYmb8R5twqyxHUoQqyatYtCXJF7SXzgCUyV      # nexareg:nqtsq5g582zca894fpyz46g7ylk8yen9dhz3dzplhylstsrs
BOB_WIF=cW2iN9sbKCLdrBQCo8awtU4TXTMXgGM4UsqHNkHTt7N9yfSEyczR        # nexareg:nqtsq5g5cuh44dagudrschpaztkx5gg9j2jf2fjehespnnqd
CHARLIE_WIF=cSuxRttVsBjs3MtXbRNP2GdzAKf5fhdzt1HbZb4SBR1KwQuGQC1X    # nexareg:nqtsq5g5e8e3yzczucnqn8xw8lg3mvf4hrj5vmflphau08qe


################################################################################
#
# ROSTRUM
#
# Specify one (or more) local and/or remote Rostrum endpoint(s) to connect to.
# When building a cluster, separate each endpoints with a (,) comma.
#
# Rostrum (RegTest)
#
ROSTRUM=ws://0.0.0.0:30404
#ROSTRUM=ws://127.0.0.1:30404
